{% extends "KwejkLayoutBundle::layout.html.twig" %}

{% block title %}{{ mem.title }}{% endblock %}

{% block body %}
<h1>{{ block('title') }}</h1>
  <div>
  <p>{{ mem.title }}</p>
		
			<p>{{ mem.title }}</p>
			
			<img src="{{ asset('uploads/mems/' ~ mem.imageName) }}" alt ="{{ mem.title }}">
			<p>Dodany przez {{ mem.createdBy }}, dnia {{ mem.createdAt|date('y-m-d H:i:s') }}</p>
			
			<h3> Komentarze ({{ mem.comments|length }})</h3>
			
			{% for comments in mem.comments %}
			
				<p id="comment-{{ mem.id }}">
				{{ comment.comment }}
				<small> oddany przez {{ comment.createdBy }} dnia {{ comment.createdAt|date('y-m-d H:i:s') }} </small>
			
			{% else %}
			
				<p> nie znalozeiono komentarzy <a href="#" title='Dodaj komentarz'> dodaj komentarz jako pierwszy</a></p>
			
			{% endfor %}
	  </div>
{% endblock %}